
h1{
    margin: 70px auto;
    text-align:  center;
    color: black;   
   }

   body {font-family: Arial, Helvetica, sans-serif; 
    background-color:  #AED6F1;
  text-align: center;}

   /* Full-width input fields */
   input[type=text], input[type=password], input[type=email] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
   }
   
   /* Set a style for all buttons */
   button {
     background-color:black;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
     
   
   }
   
   button:hover {
     opacity: 0.8;
   }
   
   
   .container {
     padding: 16px;
     margin-top: 20px;
   }
   
   #formContainer{
       width:500px;
       height:400px;
       margin-top: 50px;
       margin-left: auto; 
       margin-right: auto;
       background-color: pink; 
       border: 2px solid black;
   }
   